.rodape{
    padding: 20px 50px;
    text-align: left;
    display: flex;
    height: 279px;
    flex-shrink: 0;
    background-color: #FFC857;
    gap: 70px;

    img{
        width: 25px;
        height: 25px;
    }

    h3{
        font-family: lato-bold;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        width: 70px;
    }

    h4{
        font-family: lato-bold;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        width: 230px;
    }

    p{
        color: rgba(0, 0, 0, 0.75);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        font-family: lato-regular;
        line-height: normal;
        width: 189px;
        flex-shrink: 0;
    }

    .redes-sociais{
        h4{
            margin: 20px 0px 10px 0px;
        }
        div > img{
            margin-right: 15px;
        }
    }


    .contatos{

        h4{
            margin: 10px 0px;
        }
        div{
            display: flex;
            align-items: center;
            margin-top: 10px;
            img{
                margin-right: 5px;
            }
            p{
                margin: 0px;
            }
        }
    }


}