.card-favorito{


   *{
      margin: 0px;
   }
   display: flex;
   flex-direction: row;
   justify-content: center;

   width: 480px;
   height: 160px;
   padding: 12px 0px 0px 9px;
   margin-bottom: 20px;

   box-shadow: 2px 2px 2px 2px rgb(160, 160, 160);
   border-radius: 10px;
    
   .card-favorito > div{
      display: flex ;
   }
   .favorito-pizza{
      width: 500px !important;
      height: 150px;
   }

   .favorito-secao-lateral{
      margin-left: 10px;
      display:flex ;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0x;
   }
   .favorito-secao-lateral h1{
      font-size: 20px;
      color: red;
      margin-bottom: 2px;
   }
   .favorito-secao-lateral b{
      font-size: 13px;
   }
   .favorito-secao-lateral p {
      font-size: 14px;
   }
   .favorito-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height:100px;
      width: 90%;
      margin-left: 10px;
   }
   .favorito-icons h3{
      font-size: 18px;
      color: rgb(2, 184, 2);
   }
   .favorito-icons img {
      width: 20px;
      height:20px;

  
   }
 .favorito-circulo{
   margin: 0px;
   display: flex;
   align-items: center;
   justify-content:center;
   width: 27px;
   height:27px;
   background-color: rgb(214, 214, 214);
   border-radius: 100%;
 }
.favorito-circulo > img {
   width: 16px;
   height: 16px;
   margin: 0px !important;
}
}