h1 {
    font-family: lobster-two-regular;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    font-family: lato-regular;
}

.kitar {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 12px;
        padding-right: 5px;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding: 20px 35px;

    h1 {
        color: #53220D;
        font-size: 32px;
        padding-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #8B8585;
        padding: 5px 0px;
    }
}


.conteudo>.informacoes {
    display: flex;
    flex-direction: row;
}

.informacoes p {
    font-size: 16px;
    color: #8B8585;
    padding: 8px 0px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    input {
        border: #D9D9D9 2px solid;
        padding: 10px 10px;
        border-radius: 7px;
        width: 260px;
        margin-bottom: 5px;

        &::placeholder {
            color: #A59A9A;
        }
    }
}

.separacao {
    margin-right: 10px;
}


#diminuicao {
    width: 80px;
}

#diminuicaopart1 {
    width: 100px;
}

#diminuicaopart2 {
    width: 145px;
}



.direita {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        border: #D9D9D9 2px solid;
        padding: 10px 10px;
        border-radius: 7px;
        width: 260px;
        margin-bottom: 5px;

        button {
            padding: 10px 60px;
            border-radius: 50px;
            border: #000 2px solid;
            background-color: #53220D;
            color: #fff;
            font-size: 14px;
            margin-top: 15px;
        }

        p {
            color: #5e5e5e;
            font-size: 14px;
            text-align: center;
        }

        a {
            color: #4272EF;
            text-decoration: none;
        }
    }

}