


.pag-cadastro-part2 {
    display: flex;
    background-image: url(../../assets/img/fundopizza.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 20px;
    }

    .kitar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .kitar img {
        height: 12px;
        padding-right: 5px;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        padding: 20px 35px;
    }

    .conteudo > h1 {
        color: #53220D;
        font-size: 32px;
        padding-bottom: 10px;
    }

    .conteudo > p {
        font-size: 16px;
        color: #8B8585;
        padding: 5px 0px;
    }

    .informacoes {
        display: flex;
        flex-direction: row;
    }
    
    .informacoes p {
        font-size: 16px;
        color: #8B8585;
        padding: 8px 0px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
    }

    .esquerda input {
        border: #D9D9D9 2px solid;
        padding: 10px 10px;
        border-radius: 7px;
        width: 260px;
        margin-bottom: 5px;
    }

    .esquerda input::placeholder {
        color: #A59A9A;
    }

    .separacao{
        margin-right: 10px;
    }

    
    #diminuicao {
        width: 80px;
    }

    #diminuicaopart1 {
        width: 100px;
    }

    #diminuicaopart2 {
        width: 145px;
    }



    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .direita input {
        border: #D9D9D9 2px solid;
        padding: 10px 10px;
        border-radius: 7px;
        width: 260px;
        margin-bottom: 5px;
    }

    .direita button {
        padding: 10px 60px;
        border-radius: 50px;
        border: #000 2px solid;
        background-color: #53220D;
        color: #fff;
        font-size: 14px;
        margin-top: 15px;
    }


    .direita p {
        color: #5e5e5e;
        font-size: 14px;
        text-align: center;
    }

    .direita a {
        color: #4272EF;
        text-decoration: none;
    }
}