


.pagina-mais-detalhes{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    height: 100vh;
    
        .container-mais {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .cabecalho-mais h2 {
            font-size: 24px;
            color: #838383;
            font-weight: 400;
        }


    
        .cabecalho-mais {
            background-color: #eefaff;
            display: flex;
            justify-content: flex-start;
            padding: 15px;
            font-size: 11px;
            margin-top: 10px;
            box-shadow: 0 5px 5px -5px #000;
        }
    
        .cabecalho-mais h2 {
            font-weight: 500;
        }
    
        .sub-titulo-mais {
            margin: 5px 25px 10px 10px;
            border-radius: 5px;
            display: flex;
            font-size: 14px;
            padding: 15px 35px;
            background-color: #fff;
            align-items: center;
            justify-content: space-between;
        }
    
        .sub-titulo-mais h1 {
            font-weight: 400;
            font-size: 22px;
            font-family: lato-regular;
            font-family: none;
        }

        .sub-titulo-mais div {
            display: flex;
            align-items: center;
            cursor: pointer;

            img{
                height: 12px;
                margin-right: 5px;
                margin-top:2px;
            }
        }


        .sub-titulo-mais p {
            font-size: 16px;
            font-weight: 500;
        }


        .conteudo-mais {
            background-color: #ffffff;
            border-radius: 7px;
            padding: 25px;
            margin: 10px;
        }

        .parte-dos-filtros {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    
        .buscar-mais {
            display: flex;
            border: 1px solid #838383;
            width: 30%;
            padding: 5px 10px;
            border-radius: 7px;
            height: 10%;
            align-items: center;
            margin-right: 15px; 
        }

        .buscar-mais div {
            cursor: pointer;

        }

        .buscar-mais input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            margin-left: 10px;
            
        }

        .pedido-mais{
            background-color: #97F595;
           padding: 7px;
           border-radius: 5px;
            margin-left: 25px;
            font-weight: 400;
        }

        .tabela-mais-detalhes {
            display: flex;
            margin-top: 20px;

            thead tr th {
                font-weight: 400;
                align-items: flex-start;
            }
            

            tbody {
                width: 100%;
            }

            tbody tr td {
                padding-left: 50px;
            }
        }

        .tabela-mais-detalhes thead tr {
            display: flex;
            flex-direction: column;
            color: #b1b1b1;
        }

        .tabela-mais-detalhes thead th {
            padding: 10px 0px; 
            margin-right: 10px;
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
        }


        .comp-linha-detalhes {
            background-color: #cfcfcf;
            height: 1px !important;
            padding: 0.5px !important; 
            width: 100%;
        }

        .tabela-mais-detalhes tbody tr {
            display: flex;
            flex-direction: column;
        }

        .tabela-mais-detalhes tbody td {
            
            padding: 10px 0px 10px 0px; 
        }



}