.leadingPage {

    .introducao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        height: 100vh;
        width: 100%;

        text-align: center;

        background-image: url('../../assets/images/pictures/fundo-leading.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            color:#FFF;
            text-align: center;
            font-family: lato-regular;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h1 {
            color: #FFF;
            text-align: center;
            font-family: lobster-two-regular;
            font-size: 52px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 30px;
            border: 1px solid #FFF;
            background: #FFC857;

            width: 185px;
            height: 40px;
            flex-shrink: 0;

            margin-top: 15px;

            transition: 170ms;

            &:hover {
                cursor: pointer;
                background: #53220D;

                p {
                    color: white;
                }

                svg {
                    fill: #ffffff
                }
            }

            p {
                color: #53220D;
                font-family: lato-regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 5px;
            }

            svg {
                fill: #53220D
            }

        }
    }
     

    
    .secaoDoisLeading {
        display: flex;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;

        gap: 30px;

        .propaganda1 {
            display: flex;
            align-items: end;

            width: 328px;
            height: 330px;

            background-image: url('../../assets/images/pictures/fundo-margherita.png');
            background-repeat: no-repeat;
            background-position: cover;

            border-radius: 0px 10px 10px 0px;

            .sombrinha {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 2px 5px;

                border-radius: 0px 0px 10px 10px;
                background: rgba(0, 0, 0, 0.47);
                padding: 10px 10px;
                color: white;

                width: 328px;
                height: 127.618px;

                h2 {
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: #FFF;
                    font-family: lato-regular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                button {
                    width: 91.217px;
                    height: 39.734px;
                    flex-shrink: 0;
                    border: 1px solid #FFF;
                    background: #53220D;
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 16px;
                    align-self: flex-end;
                    position: relative;
                    bottom: 10px;
                    transition: 200ms;
                    right: -210px;

                    &:hover{
                        background-color: #FFC857;
                        color: #53220D;     
                        cursor: pointer;
                    }
                }

            }

        }

        .propaganda2 {
            display: flex;
            align-items: end;

            width: 328px;
            height: 330px;

            background-image: url('../../assets/images/pictures/fundo-vinho.png');
            background-repeat: no-repeat;
            background-position: cover;

            border-radius: 0px 10px 10px 0px;

            .sombrinha {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 2px 5px;

                border-radius: 0px 0px 10px 10px;
                background: rgba(0, 0, 0, 0.47);
                padding: 10px 10px;
                color: white;

                width: 325px;
                height: 127.618px;

                h2 {
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: #FFF;
                    font-family: lato-regular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                button {
                    width: 91.217px;
                    height: 39.734px;
                    flex-shrink: 0;
                    border: 1px solid #FFF;
                    background: #53220D;
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 16px;
                    align-self: flex-end;
                    position: relative;
                    bottom: 10px;
                    right: -210px;

                    transition: 200ms;

                    &:hover{
                        background-color: #FFC857;
                        color: #53220D;
                        cursor: pointer;
                    }
                }

            }

        }


        .propaganda3 {
            display: flex;
            align-items: end;

            width: 328px;
            height: 330px;

            background-image: url('../../assets/images/pictures/fundo-canoli.png');
            background-repeat: no-repeat;
            background-position: cover;

            border-radius: 0px 10px 10px 0px;

            .sombrinha {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 2px 5px;

                border-radius: 0px 0px 10px 10px;
                background: rgba(0, 0, 0, 0.47);
                padding: 10px 10px;
                color: white;

                width: 325px;
                height: 127.618px;

                h2 {
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: #FFF;
                    font-family: lato-regular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                button {
                    width: 91.217px;
                    height: 39.734px;
                    flex-shrink: 0;
                    border: 1px solid #FFF;
                    background: #53220D;
                    color: #FFF;
                    font-family: lobster-two-regular;
                    font-size: 16px;
                    align-self: flex-end;
                    position: relative;
                    bottom: 10px;
                    transition: 200ms;
                    right: -210px;

                    &:hover{
                        background-color: #FFC857;
                        color: #53220D;
                        cursor: pointer;
                    }
                }

            }

        }


        .yesterday {
            color: #53220D;
            font-family: lato-regular;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .ingredientes {
        width: 100%;
    }

    .mais-sobre {
        width: 100%;
    }

    .classePizza {
        background-image: url(../../assets/images/pictures/pipi.png);
        width: 266px;
        height: 206px;
        border-radius: 6px;
    }

    .classeSobremesa {
        background-image: url(../../assets/images/pictures/soso.png);
        width: 266px;
        height: 206px;
        border-radius: 6px;
    }

    .classeBebidas {
        background-image: url(../../assets/images/pictures/bebe.png);
        width: 266px;
        height: 206px;
        border-radius: 6px;
    }

    .classeVegana {
        background-image: url(../../assets/images/pictures/opop.png);
        width: 266px;
        height: 206px;
        border-radius: 6px;
    }


    .menuzin {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2 {
            color: #000;
            text-align: center;
            font-family: lobster-two-regular;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
        }

        .classeProduto {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            >div {
                width: 241px;

                h3 {
                    color: #000;
                    text-align: center;
                    font-family: lato-regular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: rgba(0, 0, 0, 0.18);
                    text-align: center;
                    font-family: lato-regular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 30px;
            border: 1px solid #53220D;
            background: #ffffff;

            width: 185px;
            height: 40px;
            flex-shrink: 0;

            margin-top: 15px;

            transition: 170ms;

            &:hover {
                cursor: pointer;
                background: #53220D;

                p {
                    color: white;
                }

                svg {
                    fill: #ffffff
                }
            }

            p {
                color: #53220D;
                font-family: lato-regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 5px;
            }

            svg {
                fill: #53220D
            }

        }
    }
    .compsobre{
        width: 100%;
        display: flex;
        justify-content: end;

        text-decoration: none;
        outline: none;
    }

    .redirecionar {
        position: relative;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 604.486px;
        height: 64px;
        border: 0.5px solid #53220D;
        background: #FFF;

        color: #53220D;
        text-align: center;
        font-family: lato-regular;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;


        transition: 150ms;

        &:hover{

            background-color: #FFC857;
            color: #FFF;
            cursor: pointer;
        }
    }
}