

.pagina-alterar-produtos {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;


    .container-produtos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cabecalho {
        background-color: #eefaff;
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        font-size: 11px;
    }

    .cabecalho h2 {
        font-weight: 500;
    }

    .sub-titulo {
        margin: 50px 25px 10px 0px;
        border-radius: 15px;
        display: flex;
        font-size: 14px;
        padding: 15px 25px;
        background-color: #fff;
        justify-content: flex-start;
    }

    .sub-titulo h1 {
        font-weight: 600;
    }


    .conteudo {
        display: flex;
        flex-direction: row;
        padding: 15px;
    }

    .produtos {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 15px 10px;
        border: 1px solid #000;
        border-radius: 15px;
        width: 60%;
    }

    .buscar {
        display: flex;
        border: 1px solid #000;
        width: 420px;
        padding: 5px 10px;
        border-radius: 55px;
        height: 45px;
        align-items: center;
    }

    .buscar img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    .buscar input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }


    .paginas {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 15px 0px;
    }

    .paginas p {
        margin-right: 20px;
    }

    .paginas img {
        margin-right: 20px;
        height: 12px;
        width: 12px;
    }

    .produtos-listados {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .tabela-listados{
        flex-direction: column;
    }

    .produtos-listados img {
        width: 22px;
        height: 22px;
    }

    .produtos-listados thead > tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .produtos-listados th {
        width: 25%;
    }

    .lista-produto td {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produtos-listados tbody tr {
        display: flex;
        justify-content: space-around;
    }
    .cada-produto{
        display: flex;
        flex-direction: column;
    }

    

    .comp-linha {
        background-color: #626262;
        height: 2px;
        width: 100%;
    }

    .titulos {
        background-color: #fff !important;
        height: 50px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: #909090;
        font-size: 14px;
        align-items: center;
    }
    

    .parte-lista {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .parte-lista div {
        display: flex;
        flex-direction: row;
    }

    .comp-alterar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;

    }

    .comp-linha {
        background-color: #626262;
        height: 1px;
        width: 100%;

    }
    .comp-produtos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px 0px;
        color: #626262;
        
    }

    .comp-produtos h3 {
        font-size: 16px;
        padding-right: 25px;
    }


    


    /*.comp-produtos:hover  div {
        display: none;
        background-color: #0D3E53;
    }
*/
    .comp-produtos div {
        width: 55px;

    }

    .filtros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 40%;
    }

    .ordernar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ordernar h2 {
        font-size: 17px;
        font-weight: 500;
        padding-right: 10px;
    }

    .ordernar div {
        display: flex;
        flex-direction: row;
        height: 40px;
        border-radius: 50px;
        border: 1px #000 solid;
        align-items: center;
        background-color: #fff;
        padding: 0px 10px;
    }

    .ordernar input {
        height: 100%;
        width: 120px;
        border: none;
        outline: none;
        border-radius: 30px;
    }

    .ordernar img {
        height: 20px;
        width: 20px;
    }
    
    .bloco-filtro {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        background-color: #0D3E53;
        padding: 15px;
        border-radius: 5px;
    }

    .bloco-filtro div {
        display: flex;
        flex-direction: row;
    }

    .bloco-filtro input {
        margin-right: 5px;
    }
    
    .tipo {
        padding: 7px;
        color: #fff;
    }
    

    .linha {
        background-color: #fff;
        height: 1px;
        width: 100%;
    }



    .bloquinho {
        display: flex;
        background-color: #155d7c;
        width: 20px;
        height: 100px;
        border-radius: 30px;
        align-self: flex-end;
        margin-bottom: 25px;
    }



}