




.comp-sobre-nos {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin: 50px 0px;
    // width: auto;
    // margin-bottom: 100px;
    // background-position-x: 65px;
    // background-size: cover;
    
  


    .containerrr {
        background-image: url('../../assets/images/pictures/Rectangle\ 60.png');
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        width: 80vw;
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding: 5px 50px;
        
    }

    .sub-container {
        height: 90%;
    }

    .titulo {
        font-size: 14px;
        padding-left: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin-bottom: 10px;
    }




    .conteudo-sobre-nos {
        display: flex;
        flex-direction: row;
    }

    .esquerda-sobre-nos {
        display: flex;
        padding-right: 30px;

        img {
            height: 350px;
        }
        
    }

    .direita-sobre-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .direita-sobre-nos div {
        background-color: #53220D;
        align-items:center;
        display: flex;

        position: relative;
        right: 285px;

        margin-top: 15px;
        height: 60px;
        width: 350px;
        justify-content: center;
        border-radius: 5px;
   h1{

        margin-left: 15px;
        color: #fff;
        font-size: 28px;
        font-style: normal;
        font-weight: 800 !important;
        line-height: normal;

   }
    }

    .direita-sobre-nos p {
        font-size: 18px;
        font-style: normal;
        width: 520px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .direita-sobre-nos span {

        font-style: normal;
        font-size: 17px;
        width: 500px;
        font-weight: 500;
    }

    .butao{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        text-decoration: none;
        width:50% !important;
        height: 50px !important;
        position: none !important;
        right: 0px !important;


    }
    .butao a{
      margin-top: 25px;
        width: 150px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 30px;
        border: none !important;

        font-size: 16px;
        color: #53220D;
        background-color: #fff;
        padding: 20px 20px;
        box-shadow: 0px 1px 1px 1.4px #fff;
        text-decoration: none !important;

        transition: 150ms;
        

        &:hover{
            background-color:#FFC857;
            color:#ffffff;
            cursor: pointer;
        }
    }


   
    
}