



.pagina-login {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/img/fundopizza.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: lato-regular;

    h1{
        font-family: lobster-two-regular;
    }

    button{
        border: none;
        transition: 150ms;

        &:hover{
            background-color: #FFC857;
            color: black;
        }
    }


    .container {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
        border-radius: 20px;
    }

    h1 {
        color: #53220D;
        font-size: 28px;
    }

    .divisao {
        background-color: #A59A9A;
        height: 2px;
        width: 250px;
        margin: 10px 0px;
    }

    .login {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        align-items: flex-end;
    }

    input {
        border: #D9D9D9 2px solid;
        padding: 10px 10px;
        border-radius: 7px;
        width: 260px;
        margin-bottom: 5px;
    }

    a {
        font-size: 14px;
        color: #3F73F6;
        text-decoration: none;
    }

    button {
        padding: 10px 55px;
        border-radius: 50px;
        background:#53220D;
        color: #fff;
        font-size: 14px;
    }

    .separacao {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .separacao p {
        padding: 0px 5px;
    }

    .separacao div {
            height: 2px;
            width: 94px;
            background-color: #A59A9A
    }

    .plataformas {
        display: flex;
        flex-direction: row;
    }

    .plataformas div {
        padding-right: 15px;
    }












}