.pag-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../assets/images/pictures/fundo-leading.png');
    background-size: cover;
    background-repeat: repeat;

    font-family: lato-regular;

    width: 100vw;
    height: 100vh;

    .cadastro-cliente {
        height: 605px;

        display: flex;

        .esquerda {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            border-radius: 20px 0px 0px 20px;
            background: #53220D;

            width: 377.454px;
            height: 603.832px;

            .Container_bem-vindo {

                display: flex;
                align-items: center;

                height: 85%;
            }

            .sair {
                display: flex;
                justify-content: start;
                align-items: center;

                width: 360.454px;

                padding: 10px 0px 0px 10px;

                gap: 5px;

                text-decoration: none;
                outline: none;

                color: white;
                

                img {
                    width: 10.929px;
                    height: 12.743px;
                    filter:invert(100%);
                    margin-top: 3px;
                }
            }

            color: white;
        }

        .direita {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 618px;
            height: 605px;
            
            background-color: white;
            border-radius: 0px 20px 20px 0px;

            .plataformas{
                display: flex;
                gap: 10px;

                div:nth-child(2) {
                    margin-top: 0.3em;
                }
            }

        }
    }
}