

.pag-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/fundopizza.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;

    .container{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border-radius: 20px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        background-color: #53220D;
        padding: 20px;
        width: 377px;
        border-radius: 20px;
        justify-content: center;
    }

    .sair {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        position: relative;
        bottom: 80px;
    }

    .sair img {
        height: 12px;
        padding-right: 5px;
    }

    .bemvindo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bemvindo h1{
        font-size: 40px;
        color: #fff;
        padding-bottom: 15px;
    }

    .bemvindo p{
        font-size: 20px;
        color: #fff;
        padding-bottom: 25px;
    }

    .bemvindo button {
        margin-top: 25px;
        background-color: #FFC857;
        color: #fff;
        padding: 10px;
        border-radius: 50px;
        width: 150px;
        font-size: 20px;
    }

    .bemvindo a {
        color: #fff;
        font-size: 13px;
        text-decoration: none;
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 518px;
        padding: 20px;
    }

    .direita h2 {
        font-size: 40px;
        color: #53220D;
    }


    .divisao {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divisao div {
        height: 2px;
        width: 94px;
        background-color: #A59A9A;
    }

    .divisao p {
        font-size: 20px;
        padding: 0px 10px;
    }

    .plataformas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .plataformas img {
        padding: 0px 10px;
    }


    .inputs {
        display: flex;
        flex-direction: column;
    }

    .inputs input {
        border: #A59A9A 1px solid;
        width: 292px;
        height: 50px;
        padding: 0px 5px;
        border-radius: 7px;
        outline: #A59A9A;
    }


    .inputs div {
        margin: 5px 0px;
    }

    .final {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .final button {
        background-color: #53220D;
        width: 200px;
        padding: 15px;
        border-radius: 50px;
        color: #fff ;
        font-size: 16px;
        border: #000 2px solid;
    }

    .final p {
        font-size: 14px;
        color: #555555;
    }

    .final a{
        text-decoration: none;
        color: #4272EF;
    }

}