.card-historico{
     *{
        margin: 0px;
     }
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;


    height: 110px;
    width: 480px;
    
    background-color: white;
    
    box-shadow: 1px 1px 2px 2px rgb(194, 194, 194);
    margin-bottom: 30px;

    padding: 3px;
    border-radius: 10px;
   
    .card-secao-03{
        width: 100%;

        display:flex ;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin: 3px;
        margin-right: 25px;
    }
    .card-secao-03 > p {
        color: green;
    }
    .card-secao-03> img {
        width: 15px;
        height: 15px;
    }
    .card-secao-01{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 8px;
    }
    .card-secao-01 h5{
        color: blue;
    }

    .card-secao-02{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
       
    }

    .card-secao-02 > h4 {
        margin-right: 10px;
        
    }

}