

.recomendacao{
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;

    width:23vw ;
    height: 21vh !important;

    padding: 10px 0px 0px 10px;
    box-shadow: 1px 3px 5px 3px  rgb(199, 199, 199);
    border-radius: 8px;
   
    *{
        margin:0px ;
    }
    
    .recomendacao-comida-img {
       
        width: 190px;
        height: 150px;
    }

    .recomendacao-lateral{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;

        margin-left: 12px;
    }

    .recomendacao-lateral > div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

      
        
    }
    .recomendacao-lateral div > div {
        display: flex;
        margin-bottom: 5px;
    }
    .recomendacao-lateral   {
     div>img {
         width: 20px !important;
         height: 20px !important;}
     
    }

    .circulo-carinho{
        display: flex;
        justify-content: center !important;
        align-items: center !important;

        width: 35px !important;
        height: 32px !important;
        margin: 0px !important;

        border-radius: 100% !important;
        background-color: #53220D !important;
    }
    .circulo-carinho > img {
        width: 15px;
        height: 15px;
    }
    
}