.body{
     display: flex;
     flex-direction: row;
     
    .mae-comp > div{
      box-shadow:  8px 5px 12px rgb(173, 171, 171) ;
      transition: 1s;
      margin-bottom: 50px;
      &:hover{
        box-shadow:  10px 3px 10px rgb(173, 171, 171) ;
      }
    }
     width: auto;
     height: 100vh;
     
     background-color: rgb(243, 238, 232);
    
    > div  {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 120px;


     h2{
       color:  #635d57;
       margin-bottom: 22px;
  
     }
   
    

    }



 .ld-esquerdo{
    padding-top: 23px;
  
    display: flex;
    align-items: start;
    flex-direction: column;

    margin-right: 60px;
    padding-left: 10px;

    height: 450px !important;
    width: 550px !important;

    border-radius: 15px;
    
    box-shadow:  8px 5px 12px rgb(173, 171, 171) ;
    background-color: #fff;
    h2{
      margin-left: 10px;
    }
   
    > div  >div {
        width: 100%;
        height: 40px;
        display: flex;
        margin-bottom: 12px;
        margin-left: 10px;
       
    }
   

     div{
        width: 90%;
    
            
         div { 
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
               
              }          
      }



 }

.ld-esquerdo-fl{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 10px;
}

button{
  width: 80%;
  margin-left:30px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 30px;

  border: none;
  border-radius: 8px;
  color:white;
  transition: 0.5s;

  background-color: #53220D;
  &:hover{
    background-color: #fff;
    color:#53220D;
    border: 1px solid #53220D ;
  }
  
}
.claro{
  background-color: #FFC857;
  color: white;
  transition: 0.5s;

 &:hover {
  background-color: #fff;
  color: #FFC857;
  border: 1px solid  #FFC857 ;
 }
}
.butao{
  display: flex;
  flex-direction: column;
  
  margin-bottom: 10px !important;
  margin-left:30px !important;
  margin-top: 4px;

  outline: none;
  border: 1px solid rgb(226, 226, 226);

  height:45px !important;
  
  width: 89% !important;

  input{
    height: 100%;

    outline: none;
    border: none;

    font-size: 14px;
    margin-left: 10px;
    text-transform: uppercase;
  }
  label{
    margin-left: 12px;
    font-size: 13px;
    margin-bottom: 2px;
  }

}




}