.pagina-comp-atalhos {
    display: flex;
    flex-direction: column;
    background-color: #0D3E53;
   



    .container-atalhos {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .container-atalhos div {
        display: flex;
        flex-direction: row;
        color: #fff;
        align-items: center;
        padding: 10px;
    }

    .container-atalhos > div:hover {
        background: #58889C;
        transition: 0.3s;
    }

    .container-atalhos h2 {
        font-size: 16px;
        font-weight: 500;
    }

    .container-atalhos img {
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }

    .produto {
        width: 100%;
    }

    #pedido {
        height: 8px;
        width: 18px;
    }


    
}