.cardWhats{
    display: flex;

    position: fixed;
    bottom: 20px;
    right: -300px;

    width: 400px;
    height: 100px;

    z-index: 10000000;

    cursor: pointer;

    transition: right 0.5s ease;

    &:hover{
        right: 0px;
    }

    .whatsicon{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #25d366;

        width: 30%;
        height: 100%;

        img{
            width: 50%;
            height: 50%;
        }
    }

    .direitaWhats{
        background-color: white;
        padding: 10px 0px 0px 10px;
    }
}