.pag-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images//fundoo.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: lato-regular;

    .containeer{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border-radius: 5px;
       
    }

    .bemvindo{
        width: 100%;
        height: 100%;
transition: 150ms;
            button:hover{
             cursor: pointer;   
            }
    }

    h1{
        font-family: lobster-two-regular;
        font-size: 25px;
        text-align: left;
    }

    
    .esquerda {
        background-color: #53220D;
        width: 250px;
        height: 400px;
      
        border-radius: 0px 20px 20px 0px;
        justify-content: center;
    }

    button{
        border: none;
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 430px;
        padding: 3px;
        background-color: #fff;
        height: 400px;
    
       border-radius:20px 0px 0px 20px;
    }

    .direita h2 {
        font-size: 22px;
        color: #53220D;
    }


  

    .divisao p {
        font-size: 20px;
        padding: 0px 10px;
    }

    .plataformas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .plataformas img {
        padding: 0px 10px;
    }


    .inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .inputs input {
        border: #A59A9A 1px solid;
        width: 250px;
        height: 40px;
        padding: 0px 4px;
        border-radius: 7px;
        outline: #A59A9A;
    }


    .inputs div {
        margin: 5px 0px;
    }

    .final {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .final button {
        background-color: #53220D;
        width: 170px;
        padding: 10px;
        border-radius: 50px;
        color: #fff ;
        font-size: 16px;
        border: #000 2px solid;
    }

    .final p {
        font-size: 14px;
        color: #555555;
    }

    .final a{
        text-decoration: none;
        color: #4272EF;
    }

}